<div class="row">
    <div class="col-md-12">
        <br>
        <h2>Courses</h2>
        <hr />

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each courses}}
                    <tr>
                        <td>{{this.courseCode}}</td>
                        <td>{{this.courseDescription}}</td>
                        <td>
                            <a href="/course/{{this.courseId}}" class="btn btn-primary">view</a>
                            <a href="/course/delete/{{this.courseId}}" class="btn btn-danger">remove</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <a href="/courses/add" class="btn btn-success float-right">Add New Course</a>
        </div>

        {{#unless courses}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
        {{/unless}}

    </div>
</div>