<div class="row">
    <div class="col-md-12">
        <br>
        <h2>Students</h2>
        <hr />

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Student Num</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Course ID</th>
                        <th>Actions</th> <!-- New column for "remove" links -->
                    </tr>
                </thead>
                <tbody>
                    {{#each students}}
                    <tr>
                        <td class="text-center">{{this.studentNum}}</td>
                        <td><a href="/student/{{this.studentNum}}">{{this.firstName}} {{this.lastName}}</a></td>
                        <td><a href="mailto:{{this.email}}">{{this.email}}</a></td>
                        <td>{{this.addressStreet}}, {{this.addressCity}}, {{this.addressProvince}}</td>
                        <td>{{this.status}}</td>
                        <td class="text-center"><a href="/students?course={{this.course}}">{{this.course}}</a></td>
                        <td>
                            <a class="btn btn-primary" href="/student/{{this.studentNum}}">View</a>
                            <a class="btn btn-danger" href="/students/delete/{{this.studentNum}}">Remove</a>
                            <!-- New "remove" link -->
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <a href="/students/add" class="btn btn-success float-right">Add New Student</a>
        </div>
    </div>

    {{#unless students}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
    {{/unless}}

</div>